#map_content {
    display: flex;
    flex-direction: row;
    height: 95%;
}

#map {
    height: 100%;
    width: 75%;
    border: solid black 1px;
}

#legend {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.05em;
}

.category {
    display: flex;
    flex-direction: row;
}

.category p {
    margin: 4px
}

tr {
    text-align: center;
}
td, th {
    padding: 5px;
}
td span {
    display: inline-block;
    align-self: center;

    background-color: blue;
    border: solid black 2px;
    border-radius: 5px;
    width: 30px;
    height: 15px;
}

/* Smartphones (landscape) ----------- */
@media (orientation: landscape) and (device-width<= 1080px) {
    #map_content {
        height: 100%;
    }
    td {
        padding: 0px;
    }
    #legend {
        font-size: 0.7em;
    }
    table {
        font-size: 0.95em;
    }
}

/* Smartphones (portrait) ----------- */
@media (orientation: portrait) {
    #map_content {
        flex-direction: column;
    }
    #map {
        width: 100%;
    }
}